        body {
            background-color: white;
            color: black;
            font-family: 'Roboto', Arial, sans-serif;
            text-align: center;
        }

        .header {
            font-size: 36px;
            font-weight: bold;
            margin-top: 20px;
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            color: rgb(100, 100, 100);
            text-decoration: underline;
        }

        .intro {
            font-size: 16px;
            max-width: 100%;
            margin: 0 auto;
        }

        .subtitle {
            font-size: 32px;
            font-weight: bolder;
            margin-top: 20px;
        }

        .project-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
            gap: 20px;
            margin: 20px;
        }

        .project {
            text-align: center;
            transition: transform 0.3s;
        }

        .project img,
        .project iframe {
            width: 100%;
            max-width: 450px;
            border: 2px solid black;
            cursor: pointer;
            transition: transform 0.3s;
        }

        .project:hover{
            transform: scale(1.1); /* Add a scale effect on hover */
            display: block; /* Show the video container on hover */
        }

        .project-title {
            font-weight: bold;
        }

        .org-title{
            display: flex;
            align-items: center;
            /* border: 3px solid green; */
            margin: auto;
            text-align: left;
            font-weight: bold;
            font-size: large;
            color: #444444;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .org-title img{
            margin-left: 50px;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        .eduOrg-title{
            display: flex;
            align-items: center;
            /* border: 3px solid green; */
            margin: auto;
            text-align: left;
            font-weight: bold;
            font-size: large;
            color: #444444;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .eduOrg-title img{
            margin-left: 50px;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        .certOrg-title{
            display: flex;
            align-items: center;
            /* border: 3px solid green; */
            margin: auto;
            text-align: left;
            font-weight: bold;
            font-size: large;
            color: #444444;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .certOrg-title img{
            margin-left: 50px;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        .paperOrg-title{
            display: flex;
            align-items: center;
            /* border: 3px solid green; */
            margin: auto;
            text-align: left;
            font-weight: bold;
            font-size: large;
            color: #444444;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .paperOrg-title img{
            margin-left: 50px;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        .duration{
            text-align: left;
            text-decoration: none;
            font-size: smaller;
        }

        .exp-title {
            text-align: left;
            font-weight: bold;
            font-size: x-large;
            color: black;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .edu-title {
            text-align: left;
            font-weight: bold;
            font-size: x-large;
            color: black;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .edu-title p {
            margin-left: 20px; font-weight: bold; font-size: large;
        }

        .cert-title {
            text-align: left;
            font-weight: bold;
            font-size: x-large;
            color: black;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .paper-title {
            text-align: left;
            font-weight: bold;
            font-size: x-large;
            color: black;
            text-decoration: underline;
            text-decoration-color: black;
        }

        .jam-title {
            text-align: left;
            font-weight: bold;
            font-size: x-large;
            color: black;
            text-decoration: underline;
            text-decoration-color: black;
        }

        a{
            color: inherit;
        }

        .expEntry{
            padding: 10px;
            border: 2px solid grey;
            margin-left: 10px;
            margin-top: 20px;
            text-align: left;
            transition: transform 0.3s;
        }

        .expEntry:hover{
            transform: scale(1.01);
            display: block;
        }

        .eduEntry{
            padding: 10px;
            border: 2px solid grey;
            margin-left: 10px;
            margin-top: 20px;
            text-align: left;
            transition: transform 0.3s;
        }

        .eduEntry:hover{
            transform: scale(1.01);
            display: block;
        }

        .certEntry{
            padding: 10px;
            border: 2px solid grey;
            margin-left: 10px;
            margin-top: 20px;
            text-align: left;
            transition: transform 0.3s;
        }

        .certEntry:hover{
            transform: scale(1.01);
            display: block;
        }

        .paperEntry{
            padding: 10px;
            border: 2px solid grey;
            margin-left: 10px;
            margin-top: 20px;
            text-align: left;
            transition: transform 0.3s;
        }

        .paperEntry:hover{
            transform: scale(1.01);
            display: block;
        }

        .jamEntry{
            padding: 10px;
            border: 2px solid grey;
            margin-left: 10px;
            margin-top: 20px;
            text-align: left;
            transition: transform 0.3s;
        }

        .jamEntry:hover{
            transform: scale(1.01);
            display: block;
        }

        .project-description {
            font-size: 14px;
            margin-top: 10px;
        }

        .unity-button {
            transition: transform 0.3s;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: black;
            color: white;
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            
        }

        .unity-button:hover{
            transform: scale(1.07); /* Add a scale effect on hover */
            display: block; /* Show the video container on hover */
        }

        .unity-button img {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .buttons-container {
            position: fixed;
            top: 10px;
            left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 1000;
        }

        .button {
            margin-bottom: 3px;
            padding: 8px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: transform 0.3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .button:hover{
            transform: scale(1.1); /* Add a scale effect on hover */
            display: block; /* Show the video container on hover */
        }

        .button img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .navbar-container {
            position: fixed;
            top: 90px;
            right: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 1000;
        }

        .button-right {
            width: 100%;
            right: px;
            margin-bottom: 3px;
            padding: 8px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            
            align-items: center;
            transition: transform 0.3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .button-right:hover{
            transform: scale(1.1); /* Add a scale effect on hover */
            display: block; /* Show the video container on hover */
        }


        @media only screen and (max-width: 810px) {
            .header {
                font-size: 24px;
            }

            .title {
                font-size: 18px;
            }

            .intro {
                font-size: 14px;
                max-width: 60%;
                /* margin: 0 auto; */
            }

            .subtitle {
                font-size: 24px;
                margin: 10px;
            }

            .project-title {
                font-size: 16px;
            }

            .project-description {
                font-size: 12px;
            }

            .project-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
                gap: 20px;
                margin-left: 0;
            }

            .button {
                margin-left: 0;
                padding: 3px;
                font-size: 0;
            }

            .button-right{
                font-size: x-small;
                padding: 5px;
            }

            .exp-title{
                font-size: 16px;
            }

            .edu-title{
                font-size: 16px;
            }

            .edu-title p{
                font-size: 15px;
            }

            .jam-title{
                font-size: 16px;
            }

            .jam-title p{
                font-size: 15px;
            }

            .cert-title{
                font-size: 15px;
            }

            .paper-title{
                font-size: 15px;
            }

            .org-title{
                font-size: 14px;
            }

            .eduOrg-title{
                font-size: 14px;
            }

            .certOrg-title{
                font-size: 14px;
            }

            .paperOrg-title{
                font-size: 14px;
            }

            .duration{
                font-size: 10px;
            }

            .eduEntry ul{
                font-size: 12px;
            }

            .expEntry ul{
                font-size: 12px;
            }

            .jamEntry ul{
                font-size: 12px;
            }

            .paperEntry ul{
                font-size: 12px;
            }

            .navbar-container{
                right: 2px;
            }

            .button:active{
                transform: scale(1.1);
            }

            .button img {
                margin-right: 0px;
            }

            .buttons-container {
                left: 2%;
                position: fixed;
            }

            .unity-button img {
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 0px;
            }
            
            .unity-button {
                font-size: 0px;
            }

            .unity-button:active{
                transform: scale(1.1);
            }
        }